{{define "content"}}
	<form method="POST">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="text" id="name" name="name">
		    <label class="mdl-textfield__label" for="name">Name (e.g. book_club)</label>
	  	</div>
	  	<br/>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="text" id="title" name="title">
		    <label class="mdl-textfield__label" for="title">Title (e.g. Book Club)</label>
	  	</div>
	  	<br/>
	  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="text" id="description" name="description">
		    <label class="mdl-textfield__label" for="description">Description (e.g. a place to love books)</label>
	  	</div>
	  	<br/>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		  Submit
		</button>
	</form>
{{end}}
