{{define "content"}}
	<h3 id="pinned-posts-title" class="mdl-color-text--grey-800">
		<a href="{{.Topic.URL}}" class="no-decoration">{{.Topic.Title}}</a>
	</h3>
	{{if .SessionUser.Email}}
		<div class="bottom-right">
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="window.location={{.Topic.NewPostURL}};">
			 	<i class="material-icons">add</i>
			</button>
		</div>
	{{end}}
	<hr/>
	{{if len .Tags}}
		<div id="tags">
			<h4 class="mdl-color-text--grey-800 clickable"  onclick="window.location={{.Topic.TagsURL}};">Tags</h4>
			<i class="material-icons vertical-align-middle">keyboard_arrow_right</i>
			{{range $i, $tag := .Tags}}
				<a class="no-decoration vertical-align-middle" href="{{$tag.URL}}" style="font-size: 18px">{{$tag.Name}}</a>
				<span>&nbsp;&nbsp;</span>
			{{end}}
		</div>
	{{else if .SessionUser.IsAdmin}}
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="window.location={{.Topic.NewTagURL}}">
		  New Tag
		</button>
	{{end}}
	<div id="posts">
		{{if or (len .PinnedPosts) (len .UnpinnedPosts)}}
			{{if len .PinnedPosts}}
				{{template "post-list" dict "Base" . "PostsTitle" "Pinned Posts" "Posts" .PinnedPosts}}
				<hr>
			{{end}}
			{{template "post-list" dict "Base" . "Posts" .UnpinnedPosts}}
		{{else}}
			<h4 class="mdl-color-text--grey-800">There are currently no posts in this topic.</h4>
		{{end}}
	</div>
{{end}}
