{{define "content"}}
{{$base := .}}
<ul id="threads">
	{{range $thread := .Threads}}
	<li>
		<a href="/thread/{{$thread.SubjectName}}/{{$thread.ID}}">{{$thread.Title}}</a>
		<br />

		{{$thread.Score}}
		{{if $base.SessionUser}}
			|
			{{if index $base.UserUpvotedThreadIDs $thread.ID}}
				<button class="thread_remove_vote_button" type="button" value="{{$thread.ID}}">remove vote</button>
			{{else}}
				<button class="thread_upvote_button" type="button" value="{{$thread.ID}}">upvote</button>
			{{end}}
		{{end}}
	</li>
	{{end}}
</ul>
{{end}}
