{{define "content"}}

	{{if .SessionUser.Email}}
		<div class="bottom-right">
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="window.location=window.location+'/new';">
			 	<i class="material-icons">add</i>
			</button>
		</div>
	{{end}}
	{{if .SessionUser.IsAdmin}}
		<input type="submit" value="New Tag" onclick="window.location=window.location+'/tags/new';" />
	{{end}}

	<br><br>
	{{if len .Tags}}
		<div id="tags">
			Tags: &nbsp;
			{{range $i, $tag := .Tags}}
				<a href="{{$tag.URL}}">{{$tag.Name}}</a> &nbsp;
			{{end}}
		</div>
	{{end}}

	<div id="threads">
		{{if len .PinnedThreads}}
			{{template "thread-list" dict "Base" . "ThreadsTitle" "Pinned Threads" "Threads" .PinnedThreads}}
			<hr>
		{{end}}
		{{template "thread-list" dict "Base" . "Threads" .UnpinnedThreads}}
	</div>
{{end}}
