.ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  flex-shrink: 0;
}

.main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.header .mdl-layout__header-row {
  padding-left: 40px;
}

.container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.layout.is-small-screen .content {
  padding: 40px 28px;
}

.content h3 {
  margin-top: 48px;
}

.footer {
  padding-left: 40px;
}

.footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.orange {
  color: #FB8C00;
}

/* App specific */
.vertical-align-middle {
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.no-decoration {
  color: inherit;
  text-decoration: none;
}

.bottom-right {
  position: fixed;
  bottom: 55px;
  right: 40px;
}

li.mdl-list__item {
  padding-left: 0px;
  overflow: auto;
}

.wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#main-title {
  display: inline-block;
}

#main-title-link {
  display: inline-block;
}

#signin-status {
  display: inline-block;
  float: right;
}
