{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>uTeach</title>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-red.min.css" />
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script defer src="/static/js/posts.js"></script>
  </head>

  <body>
   <div class="layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><a id="main-title-link" class="no-decoration" href="/">uTeach</a></span>
          <div class="mdl-layout-spacer"></div>

           <div id="signin-status">
            {{if .SessionUser.Email}}
              <a class="no-decoration vertical-align-middle" href="{{.SessionUser.URL}}">{{.SessionUser.Name}}</a>
              <button class="mdl-button mdl-js-button mdl-button--accent vertical-align-middle" onclick="window.location='/logout'">
                Logout
              </button>
            {{else}}
              <button class="mdl-button mdl-js-button mdl-button--accent vertical-align-middle" onclick="window.location='/login'">
                Sign in
              </button>
            {{end}}
          </div>
        </div>
      </header>

      <div class="ribbon"></div>

      <main class="main mdl-layout__content">
        <div class="container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
             {{template "content" .}}
          </div>
        </div>
      </main>
       <footer class="footer mdl-mini-footer">
          <div>Copyright © Brian Harrington 2016</div>
      </footer>
    </div>
  </body>
</html>
{{end}}
