{{define "thread-list"}}
	{{$base := .Base}}

	<ul id="threads-list" class="mdl-list">
		{{if .ThreadsTitle}}
			<h4 id="pinned-threads-title" class="mdl-color-text--grey-800">{{.ThreadsTitle}}</h4>
		{{end}}
		{{range $thread := .Threads}}
			{{if or $thread.IsVisible $base.SessionUser.IsAdmin}}
				<li class="mdl-list__item mdl-list__item--two-line">
					<span class="mdl-list__item-primary-content">
						{{if $base.SessionUser.Email}}
							{{if index $base.UserUpvotedThreadIDs $thread.ID}}
								 <i class="material-icons thread-action clickable vertical-align-middle" value="{{$thread.ID}}" endpoint="upvote" method="DELETE">keyboard_arrow_down</i>
								 <span class="orange"> {{$thread.Score}}</span>
							{{else}}
								<i class="material-icons thread-action orange clickable vertical-align-middle" value="{{$thread.ID}}" endpoint="upvote" method="POST">keyboard_arrow_up</i>
								<span>{{$thread.Score}}</span>
							{{end}}
							|
						{{end}}
						<span><a class="no-decoration" href="{{$thread.URL}}">{{$thread.Title}}</a></span>
						<span class="mdl-list__item-sub-title">
							by <a href="{{$thread.Creator.URL}}" class="no-decoration"> {{$thread.Creator.Name}} ({{$thread.Creator.Email}})</a>

							{{if eq $base.SessionUser.Email $thread.Creator.Email}}
								|
								{{if $thread.IsVisible}}
									<span class="thread-action clickable" value="{{$thread.ID}}" endpoint="hide" method="POST">hide</span>
								{{else}}
									<span class="thread-action clickable" value="{{$thread.ID}}" endpoint="hide" method="DELETE">unhide</span>
								{{end}}
							{{end}}

							{{if $base.SessionUser.IsAdmin}}
								|
								{{if $thread.IsPinned}}
									<span class="thread-action clickable" value="{{$thread.ID}}" endpoint="pin" method="DELETE">unpin</span>
								{{else}}
									<span class="thread-action clickable" value="{{$thread.ID}}" endpoint="pin" method="POST">pin</span>
								{{end}}
							{{end}}
						</span>
					</span>
				</li>
			{{end}}
		{{end}}
	</ul>
{{end}}
